<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.moneyfeed.user.dal.dao.client.UcClientUserShopApplyDao">
  <resultMap id="BaseResultMap" type="com.newhope.moneyfeed.user.api.bean.client.UcClientUserShopApplyModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="intention_shop_id" jdbcType="BIGINT" property="intentionShopId" />
    <result column="allot_shop_id" jdbcType="BIGINT" property="allotShopId" />
    <result column="client_user_id" jdbcType="BIGINT" property="clientUserId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="platform_deal_msg" jdbcType="VARCHAR" property="platformDealMsg" />
    <result column="shop_deal_msg" jdbcType="VARCHAR" property="shopDealMsg" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_modified, creator, modifier, version, intention_shop_id, allot_shop_id, 
    client_user_id, comment, address, status, platform_deal_msg, shop_deal_msg, enable, 
    name, mobile
  </sql>
  <select id="select" parameterType="com.newhope.moneyfeed.user.api.bean.client.UcClientUserShopApplyModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moneyfeed.uc_client_user_shop_apply
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="virtualCreateTime != null">
         and gmt_modified &gt;=  #{virtualCreateTime,jdbcType=TIMESTAMP} 
      </if>
      <if test="intentionShopId != null">
         and intention_shop_id = #{intentionShopId,jdbcType=BIGINT}
      </if>
      <if test="allotShopId != null">
         and allot_shop_id = #{allotShopId,jdbcType=BIGINT}
      </if>
      <if test="clientUserId != null">
         and client_user_id = #{clientUserId,jdbcType=BIGINT}
      </if>
      <if test="comment != null">
         and comment = #{comment,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
         and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
         and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="platformDealMsg != null">
         and platform_deal_msg = #{platformDealMsg,jdbcType=VARCHAR}
      </if>
      <if test="shopDealMsg != null">
         and shop_deal_msg = #{shopDealMsg,jdbcType=VARCHAR}
      </if>
      <if test="enable != null">
         and enable = #{enable,jdbcType=BIT}
      </if>
      <if test="name != null">
         and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null">
         and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into moneyfeed.uc_client_user_shop_apply (gmt_created, 
      gmt_modified, 
      creator, 
      modifier, 
      version, 
      intention_shop_id, 
      allot_shop_id, 
      client_user_id, 
      comment, 
      address, 
      status, 
      platform_deal_msg, 
      shop_deal_msg, 
      enable, 
      name, 
      mobile
      )
    values 	<foreach collection="list" item="model" index="index" separator="," close=";" >	(#{model.gmtModified,jdbcType=TIMESTAMP}, 
      #{model.gmtModified,jdbcType=TIMESTAMP}, #{model.creator,jdbcType=BIGINT}, #{model.modifier,jdbcType=BIGINT}, 
      0, #{model.intentionShopId,jdbcType=BIGINT}, #{model.allotShopId,jdbcType=BIGINT}, 
      #{model.clientUserId,jdbcType=BIGINT}, #{model.comment,jdbcType=VARCHAR}, #{model.address,jdbcType=VARCHAR}, 
      #{model.status,jdbcType=VARCHAR}, #{model.platformDealMsg,jdbcType=VARCHAR}, #{model.shopDealMsg,jdbcType=VARCHAR}, 
      #{model.enable,jdbcType=BIT}, #{model.name,jdbcType=VARCHAR}, #{model.mobile,jdbcType=VARCHAR}
      	)	</foreach>
  </insert>
  <update id="update">
    update moneyfeed.uc_client_user_shop_apply
    <set>
      <if test="newModel.intentionShopId != null">
        intention_shop_id = #{newModel.intentionShopId,jdbcType=BIGINT},
      </if>
      <if test="newModel.allotShopId != null">
        allot_shop_id = #{newModel.allotShopId,jdbcType=BIGINT},
      </if>
      <if test="newModel.clientUserId != null">
        client_user_id = #{newModel.clientUserId,jdbcType=BIGINT},
      </if>
      <if test="newModel.comment != null">
        comment = #{newModel.comment,jdbcType=VARCHAR},
      </if>
      <if test="newModel.address != null">
        address = #{newModel.address,jdbcType=VARCHAR},
      </if>
      <if test="newModel.status != null">
        status = #{newModel.status,jdbcType=VARCHAR},
      </if>
      <if test="newModel.platformDealMsg != null">
        platform_deal_msg = #{newModel.platformDealMsg,jdbcType=VARCHAR},
      </if>
      <if test="newModel.shopDealMsg != null">
        shop_deal_msg = #{newModel.shopDealMsg,jdbcType=VARCHAR},
      </if>
      <if test="newModel.enable != null">
        enable = #{newModel.enable,jdbcType=BIT},
      </if>
      <if test="newModel.name != null">
        name = #{newModel.name,jdbcType=VARCHAR},
      </if>
      <if test="newModel.mobile != null">
        mobile = #{newModel.mobile,jdbcType=VARCHAR},
      </if>
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.intentionShopId != null">
         and intention_shop_id = #{oldModel.intentionShopId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.allotShopId != null">
         and allot_shop_id = #{oldModel.allotShopId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.clientUserId != null">
         and client_user_id = #{oldModel.clientUserId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.comment != null">
         and comment = #{oldModel.comment,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.address != null">
         and address = #{oldModel.address,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.status != null">
         and status = #{oldModel.status,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.platformDealMsg != null">
         and platform_deal_msg = #{oldModel.platformDealMsg,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.shopDealMsg != null">
         and shop_deal_msg = #{oldModel.shopDealMsg,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.enable != null">
         and enable = #{oldModel.enable,jdbcType=BIT}
      </if>
      <if test="oldModel.name != null">
         and name = #{oldModel.name,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.mobile != null">
         and mobile = #{oldModel.mobile,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
  <update id="updateIncludeNull">
    update moneyfeed.uc_client_user_shop_apply
    <set>
      intention_shop_id = #{newModel.intentionShopId,jdbcType=BIGINT},
      allot_shop_id = #{newModel.allotShopId,jdbcType=BIGINT},
      client_user_id = #{newModel.clientUserId,jdbcType=BIGINT},
      comment = #{newModel.comment,jdbcType=VARCHAR},
      address = #{newModel.address,jdbcType=VARCHAR},
      status = #{newModel.status,jdbcType=VARCHAR},
      platform_deal_msg = #{newModel.platformDealMsg,jdbcType=VARCHAR},
      shop_deal_msg = #{newModel.shopDealMsg,jdbcType=VARCHAR},
      enable = #{newModel.enable,jdbcType=BIT},
      name = #{newModel.name,jdbcType=VARCHAR},
      mobile = #{newModel.mobile,jdbcType=VARCHAR},
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.intentionShopId != null">
         and intention_shop_id = #{oldModel.intentionShopId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.allotShopId != null">
         and allot_shop_id = #{oldModel.allotShopId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.clientUserId != null">
         and client_user_id = #{oldModel.clientUserId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.comment != null">
         and comment = #{oldModel.comment,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.address != null">
         and address = #{oldModel.address,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.status != null">
         and status = #{oldModel.status,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.platformDealMsg != null">
         and platform_deal_msg = #{oldModel.platformDealMsg,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.shopDealMsg != null">
         and shop_deal_msg = #{oldModel.shopDealMsg,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.enable != null">
         and enable = #{oldModel.enable,jdbcType=BIT}
      </if>
      <if test="oldModel.name != null">
         and name = #{oldModel.name,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.mobile != null">
         and mobile = #{oldModel.mobile,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
  <delete id="delete" parameterType="com.newhope.moneyfeed.user.api.bean.client.UcClientUserShopApplyModel">
    delete from moneyfeed.uc_client_user_shop_apply
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="intentionShopId != null">
         and intention_shop_id = #{intentionShopId,jdbcType=BIGINT}
      </if>
      <if test="allotShopId != null">
         and allot_shop_id = #{allotShopId,jdbcType=BIGINT}
      </if>
      <if test="clientUserId != null">
         and client_user_id = #{clientUserId,jdbcType=BIGINT}
      </if>
      <if test="comment != null">
         and comment = #{comment,jdbcType=VARCHAR}
      </if>
      <if test="address != null">
         and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
         and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="platformDealMsg != null">
         and platform_deal_msg = #{platformDealMsg,jdbcType=VARCHAR}
      </if>
      <if test="shopDealMsg != null">
         and shop_deal_msg = #{shopDealMsg,jdbcType=VARCHAR}
      </if>
      <if test="enable != null">
         and enable = #{enable,jdbcType=BIT}
      </if>
      <if test="name != null">
         and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null">
         and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
</mapper>