<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.moneyfeed.user.dal.dao.client.UcCustomerAccountUserMappingDao">
  <resultMap id="BaseResultMap" type="com.newhope.moneyfeed.user.api.bean.client.UcCustomerAccountUserMappingModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="client_user_id" jdbcType="BIGINT" property="clientUserId" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="customer_account_id" jdbcType="BIGINT" property="customerAccountId" />
    <result column="enable" jdbcType="BIT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_modified, creator, modifier, version, client_user_id, customer_id, 
    customer_account_id, enable
  </sql>
  <select id="select" parameterType="com.newhope.moneyfeed.user.api.bean.client.UcCustomerAccountUserMappingModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moneyfeed.uc_customer_account_user_mapping
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="virtualCreateTime != null">
         and gmt_modified &gt;=  #{virtualCreateTime,jdbcType=TIMESTAMP} 
      </if>
      <if test="clientUserId != null">
         and client_user_id = #{clientUserId,jdbcType=BIGINT}
      </if>
      <if test="customerId != null">
         and customer_id = #{customerId,jdbcType=BIGINT}
      </if>
      <if test="customerAccountId != null">
         and customer_account_id = #{customerAccountId,jdbcType=BIGINT}
      </if>
      <if test="enable != null">
         and enable = #{enable,jdbcType=BIT}
      </if>
    </where>
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into moneyfeed.uc_customer_account_user_mapping (gmt_created, 
      gmt_modified, 
      creator, 
      modifier, 
      version, 
      client_user_id, 
      customer_id, 
      customer_account_id, 
      enable
      )
    values 	<foreach collection="list" item="model" index="index" separator="," close=";" >	(#{model.gmtModified,jdbcType=TIMESTAMP}, 
      #{model.gmtModified,jdbcType=TIMESTAMP}, #{model.creator,jdbcType=BIGINT}, #{model.modifier,jdbcType=BIGINT}, 
      0, #{model.clientUserId,jdbcType=BIGINT}, #{model.customerId,jdbcType=BIGINT}, 
      #{model.customerAccountId,jdbcType=BIGINT}, #{model.enable,jdbcType=BIT}	)	</foreach>
  </insert>
  <update id="update">
    update moneyfeed.uc_customer_account_user_mapping
    <set>
      <if test="newModel.clientUserId != null">
        client_user_id = #{newModel.clientUserId,jdbcType=BIGINT},
      </if>
      <if test="newModel.customerId != null">
        customer_id = #{newModel.customerId,jdbcType=BIGINT},
      </if>
      <if test="newModel.customerAccountId != null">
        customer_account_id = #{newModel.customerAccountId,jdbcType=BIGINT},
      </if>
      <if test="newModel.enable != null">
        enable = #{newModel.enable,jdbcType=BIT},
      </if>
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.clientUserId != null">
         and client_user_id = #{oldModel.clientUserId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.customerId != null">
         and customer_id = #{oldModel.customerId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.customerAccountId != null">
         and customer_account_id = #{oldModel.customerAccountId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.enable != null">
         and enable = #{oldModel.enable,jdbcType=BIT}
      </if>
    </where>
  </update>
  <update id="updateIncludeNull">
    update moneyfeed.uc_customer_account_user_mapping
    <set>
      client_user_id = #{newModel.clientUserId,jdbcType=BIGINT},
      customer_id = #{newModel.customerId,jdbcType=BIGINT},
      customer_account_id = #{newModel.customerAccountId,jdbcType=BIGINT},
      enable = #{newModel.enable,jdbcType=BIT},
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.clientUserId != null">
         and client_user_id = #{oldModel.clientUserId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.customerId != null">
         and customer_id = #{oldModel.customerId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.customerAccountId != null">
         and customer_account_id = #{oldModel.customerAccountId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.enable != null">
         and enable = #{oldModel.enable,jdbcType=BIT}
      </if>
    </where>
  </update>
  <delete id="delete" parameterType="com.newhope.moneyfeed.user.api.bean.client.UcCustomerAccountUserMappingModel">
    delete from moneyfeed.uc_customer_account_user_mapping
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="clientUserId != null">
         and client_user_id = #{clientUserId,jdbcType=BIGINT}
      </if>
      <if test="customerId != null">
         and customer_id = #{customerId,jdbcType=BIGINT}
      </if>
      <if test="customerAccountId != null">
         and customer_account_id = #{customerAccountId,jdbcType=BIGINT}
      </if>
      <if test="enable != null">
         and enable = #{enable,jdbcType=BIT}
      </if>
    </where>
  </delete>
</mapper>