<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.moneyfeed.user.dal.dao.client.UcCustomerPayDao">
  <resultMap id="BaseResultMap" type="com.newhope.moneyfeed.user.api.bean.client.UcCustomerPayModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_modified, creator, modifier, version, customer_id, password
  </sql>
  <select id="select" parameterType="com.newhope.moneyfeed.user.api.bean.client.UcCustomerPayModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moneyfeed.uc_customer_pay
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="virtualCreateTime != null">
         and gmt_modified &gt;=  #{virtualCreateTime,jdbcType=TIMESTAMP} 
      </if>
      <if test="customerId != null">
         and customer_id = #{customerId,jdbcType=BIGINT}
      </if>
      <if test="password != null">
         and password = #{password,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into moneyfeed.uc_customer_pay (gmt_created, 
      gmt_modified, 
      creator, 
      modifier, 
      version, 
      customer_id, 
      password
      )
    values 	<foreach collection="list" item="model" index="index" separator="," close=";" >	(#{model.gmtModified,jdbcType=TIMESTAMP}, 
      #{model.gmtModified,jdbcType=TIMESTAMP}, #{model.creator,jdbcType=BIGINT}, #{model.modifier,jdbcType=BIGINT}, 
      0, #{model.customerId,jdbcType=BIGINT}, #{model.password,jdbcType=VARCHAR}	)	</foreach>
  </insert>
  <update id="update">
    update moneyfeed.uc_customer_pay
    <set>
      <if test="newModel.customerId != null">
        customer_id = #{newModel.customerId,jdbcType=BIGINT},
      </if>
      <if test="newModel.password != null">
        password = #{newModel.password,jdbcType=VARCHAR},
      </if>
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.customerId != null">
         and customer_id = #{oldModel.customerId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.password != null">
         and password = #{oldModel.password,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
  <update id="updateIncludeNull">
    update moneyfeed.uc_customer_pay
    <set>
      customer_id = #{newModel.customerId,jdbcType=BIGINT},
      password = #{newModel.password,jdbcType=VARCHAR},
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.customerId != null">
         and customer_id = #{oldModel.customerId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.password != null">
         and password = #{oldModel.password,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
  <delete id="delete" parameterType="com.newhope.moneyfeed.user.api.bean.client.UcCustomerPayModel">
    delete from moneyfeed.uc_customer_pay
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="customerId != null">
         and customer_id = #{customerId,jdbcType=BIGINT}
      </if>
      <if test="password != null">
         and password = #{password,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
</mapper>