<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.moneyfeed.order.dal.dao.IntegrationLogDao">
  <resultMap id="BaseResultMap" type="com.newhope.moneyfeed.order.api.bean.IntegrationLogModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="biz_data" jdbcType="VARCHAR" property="bizData" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="oper_type" jdbcType="VARCHAR" property="operType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_modified, creator, modifier, version, type, order_id, biz_data, 
    remark, oper_type
  </sql>
  <select id="select" parameterType="com.newhope.moneyfeed.order.api.bean.IntegrationLogModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moneyfeed.oc_integration_log
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="virtualCreateTime != null">
         and gmt_modified &gt;=  #{virtualCreateTime,jdbcType=TIMESTAMP} 
      </if>
      <if test="type != null">
         and type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="orderId != null">
         and order_id = #{orderId,jdbcType=BIGINT}
      </if>
      <if test="bizData != null">
         and biz_data = #{bizData,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
         and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="operType != null">
         and oper_type = #{operType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into moneyfeed.oc_integration_log (gmt_created, 
      gmt_modified, 
      creator, 
      modifier, 
      version, 
      type, 
      order_id, 
      biz_data, 
      remark, 
      oper_type
      )
    values 	<foreach collection="list" item="model" index="index" separator="," close=";" >	(#{model.gmtModified,jdbcType=TIMESTAMP}, 
      #{model.gmtModified,jdbcType=TIMESTAMP}, #{model.creator,jdbcType=BIGINT}, #{model.modifier,jdbcType=BIGINT}, 
      0, #{model.type,jdbcType=VARCHAR}, #{model.orderId,jdbcType=BIGINT}, #{model.bizData,jdbcType=VARCHAR}, 
      #{model.remark,jdbcType=VARCHAR}, #{model.operType,jdbcType=VARCHAR}	)	</foreach>
  </insert>
  <update id="update">
    update moneyfeed.oc_integration_log
    <set>
      <if test="newModel.type != null">
        type = #{newModel.type,jdbcType=VARCHAR},
      </if>
      <if test="newModel.orderId != null">
        order_id = #{newModel.orderId,jdbcType=BIGINT},
      </if>
      <if test="newModel.bizData != null">
        biz_data = #{newModel.bizData,jdbcType=VARCHAR},
      </if>
      <if test="newModel.remark != null">
        remark = #{newModel.remark,jdbcType=VARCHAR},
      </if>
      <if test="newModel.operType != null">
        oper_type = #{newModel.operType,jdbcType=VARCHAR},
      </if>
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.type != null">
         and type = #{oldModel.type,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.orderId != null">
         and order_id = #{oldModel.orderId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.bizData != null">
         and biz_data = #{oldModel.bizData,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.remark != null">
         and remark = #{oldModel.remark,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.operType != null">
         and oper_type = #{oldModel.operType,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
  <delete id="delete" parameterType="com.newhope.moneyfeed.order.api.bean.IntegrationLogModel">
    delete from moneyfeed.oc_integration_log
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="type != null">
         and type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="orderId != null">
         and order_id = #{orderId,jdbcType=BIGINT}
      </if>
      <if test="bizData != null">
         and biz_data = #{bizData,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
         and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="operType != null">
         and oper_type = #{operType,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
</mapper>