<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.moneyfeed.order.dal.dao.OrderDetailDao">
  <resultMap id="BaseResultMap" type="com.newhope.moneyfeed.order.api.bean.OrderDetailModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="weight_param" jdbcType="VARCHAR" property="weightParam" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="total_feed_weight" jdbcType="DECIMAL" property="totalFeedWeight" />
    <result column="total_orginal_amount" jdbcType="DECIMAL" property="totalOrginalAmount" />
    <result column="total_pay_amount" jdbcType="DECIMAL" property="totalPayAmount" />
    <result column="total_discount_amount" jdbcType="DECIMAL" property="totalDiscountAmount" />
    <result column="organization_code" jdbcType="VARCHAR" property="organizationCode" />
    <result column="supplies_code" jdbcType="VARCHAR" property="suppliesCode" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="company_short_code" jdbcType="VARCHAR" property="companyShortCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_modified, creator, modifier, version, order_id, product_code, 
    weight_param, count, total_feed_weight, total_orginal_amount, total_pay_amount, total_discount_amount, 
    organization_code, supplies_code, unit, order_no, company_short_code
  </sql>
  <select id="select" parameterType="com.newhope.moneyfeed.order.api.bean.OrderDetailModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moneyfeed.oc_order_detail
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="virtualCreateTime != null">
         and gmt_modified &gt;=  #{virtualCreateTime,jdbcType=TIMESTAMP} 
      </if>
      <if test="orderId != null">
         and order_id = #{orderId,jdbcType=BIGINT}
      </if>
      <if test="productCode != null">
         and product_code = #{productCode,jdbcType=VARCHAR}
      </if>
      <if test="weightParam != null">
         and weight_param = #{weightParam,jdbcType=VARCHAR}
      </if>
      <if test="count != null">
         and count = #{count,jdbcType=INTEGER}
      </if>
      <if test="totalFeedWeight != null">
         and total_feed_weight = #{totalFeedWeight,jdbcType=DECIMAL}
      </if>
      <if test="totalOrginalAmount != null">
         and total_orginal_amount = #{totalOrginalAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalPayAmount != null">
         and total_pay_amount = #{totalPayAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalDiscountAmount != null">
         and total_discount_amount = #{totalDiscountAmount,jdbcType=DECIMAL}
      </if>
      <if test="organizationCode != null">
         and organization_code = #{organizationCode,jdbcType=VARCHAR}
      </if>
      <if test="suppliesCode != null">
         and supplies_code = #{suppliesCode,jdbcType=VARCHAR}
      </if>
      <if test="unit != null">
         and unit = #{unit,jdbcType=VARCHAR}
      </if>
      <if test="orderNo != null">
         and order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="companyShortCode != null">
         and company_short_code = #{companyShortCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into moneyfeed.oc_order_detail (gmt_created, 
      gmt_modified, 
      creator, 
      modifier, 
      version, 
      order_id, 
      product_code, 
      weight_param, 
      count, 
      total_feed_weight, 
      total_orginal_amount, 
      total_pay_amount, 
      total_discount_amount, 
      organization_code, 
      supplies_code, 
      unit, 
      order_no, 
      company_short_code
      )
    values 	<foreach collection="list" item="model" index="index" separator="," close=";" >	(#{model.gmtModified,jdbcType=TIMESTAMP}, 
      #{model.gmtModified,jdbcType=TIMESTAMP}, #{model.creator,jdbcType=BIGINT}, #{model.modifier,jdbcType=BIGINT}, 
      0, #{model.orderId,jdbcType=BIGINT}, #{model.productCode,jdbcType=VARCHAR}, #{model.weightParam,jdbcType=VARCHAR}, 
      #{model.count,jdbcType=INTEGER}, #{model.totalFeedWeight,jdbcType=DECIMAL}, #{model.totalOrginalAmount,jdbcType=DECIMAL}, 
      #{model.totalPayAmount,jdbcType=DECIMAL}, #{model.totalDiscountAmount,jdbcType=DECIMAL}, 
      #{model.organizationCode,jdbcType=VARCHAR}, #{model.suppliesCode,jdbcType=VARCHAR}, 
      #{model.unit,jdbcType=VARCHAR}, #{model.orderNo,jdbcType=VARCHAR}, #{model.companyShortCode,jdbcType=VARCHAR}
      	)	</foreach>
  </insert>
  <update id="update">
    update moneyfeed.oc_order_detail
    <set>
      <if test="newModel.orderId != null">
        order_id = #{newModel.orderId,jdbcType=BIGINT},
      </if>
      <if test="newModel.productCode != null">
        product_code = #{newModel.productCode,jdbcType=VARCHAR},
      </if>
      <if test="newModel.weightParam != null">
        weight_param = #{newModel.weightParam,jdbcType=VARCHAR},
      </if>
      <if test="newModel.count != null">
        count = #{newModel.count,jdbcType=INTEGER},
      </if>
      <if test="newModel.totalFeedWeight != null">
        total_feed_weight = #{newModel.totalFeedWeight,jdbcType=DECIMAL},
      </if>
      <if test="newModel.totalOrginalAmount != null">
        total_orginal_amount = #{newModel.totalOrginalAmount,jdbcType=DECIMAL},
      </if>
      <if test="newModel.totalPayAmount != null">
        total_pay_amount = #{newModel.totalPayAmount,jdbcType=DECIMAL},
      </if>
      <if test="newModel.totalDiscountAmount != null">
        total_discount_amount = #{newModel.totalDiscountAmount,jdbcType=DECIMAL},
      </if>
      <if test="newModel.organizationCode != null">
        organization_code = #{newModel.organizationCode,jdbcType=VARCHAR},
      </if>
      <if test="newModel.suppliesCode != null">
        supplies_code = #{newModel.suppliesCode,jdbcType=VARCHAR},
      </if>
      <if test="newModel.unit != null">
        unit = #{newModel.unit,jdbcType=VARCHAR},
      </if>
      <if test="newModel.orderNo != null">
        order_no = #{newModel.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="newModel.companyShortCode != null">
        company_short_code = #{newModel.companyShortCode,jdbcType=VARCHAR},
      </if>
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.orderId != null">
         and order_id = #{oldModel.orderId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.productCode != null">
         and product_code = #{oldModel.productCode,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.weightParam != null">
         and weight_param = #{oldModel.weightParam,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.count != null">
         and count = #{oldModel.count,jdbcType=INTEGER}
      </if>
      <if test="oldModel.totalFeedWeight != null">
         and total_feed_weight = #{oldModel.totalFeedWeight,jdbcType=DECIMAL}
      </if>
      <if test="oldModel.totalOrginalAmount != null">
         and total_orginal_amount = #{oldModel.totalOrginalAmount,jdbcType=DECIMAL}
      </if>
      <if test="oldModel.totalPayAmount != null">
         and total_pay_amount = #{oldModel.totalPayAmount,jdbcType=DECIMAL}
      </if>
      <if test="oldModel.totalDiscountAmount != null">
         and total_discount_amount = #{oldModel.totalDiscountAmount,jdbcType=DECIMAL}
      </if>
      <if test="oldModel.organizationCode != null">
         and organization_code = #{oldModel.organizationCode,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.suppliesCode != null">
         and supplies_code = #{oldModel.suppliesCode,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.unit != null">
         and unit = #{oldModel.unit,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.orderNo != null">
         and order_no = #{oldModel.orderNo,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.companyShortCode != null">
         and company_short_code = #{oldModel.companyShortCode,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
  <delete id="delete" parameterType="com.newhope.moneyfeed.order.api.bean.OrderDetailModel">
    delete from moneyfeed.oc_order_detail
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="orderId != null">
         and order_id = #{orderId,jdbcType=BIGINT}
      </if>
      <if test="productCode != null">
         and product_code = #{productCode,jdbcType=VARCHAR}
      </if>
      <if test="weightParam != null">
         and weight_param = #{weightParam,jdbcType=VARCHAR}
      </if>
      <if test="count != null">
         and count = #{count,jdbcType=INTEGER}
      </if>
      <if test="totalFeedWeight != null">
         and total_feed_weight = #{totalFeedWeight,jdbcType=DECIMAL}
      </if>
      <if test="totalOrginalAmount != null">
         and total_orginal_amount = #{totalOrginalAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalPayAmount != null">
         and total_pay_amount = #{totalPayAmount,jdbcType=DECIMAL}
      </if>
      <if test="totalDiscountAmount != null">
         and total_discount_amount = #{totalDiscountAmount,jdbcType=DECIMAL}
      </if>
      <if test="organizationCode != null">
         and organization_code = #{organizationCode,jdbcType=VARCHAR}
      </if>
      <if test="suppliesCode != null">
         and supplies_code = #{suppliesCode,jdbcType=VARCHAR}
      </if>
      <if test="unit != null">
         and unit = #{unit,jdbcType=VARCHAR}
      </if>
      <if test="orderNo != null">
         and order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="companyShortCode != null">
         and company_short_code = #{companyShortCode,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
</mapper>