<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.moneyfeed.order.dal.dao.OrderCartDao">
  <resultMap id="BaseResultMap" type="com.newhope.moneyfeed.order.api.bean.OrderCartModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="uc_shop_id" jdbcType="BIGINT" property="ucShopId" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="buyer_id" jdbcType="BIGINT" property="buyerId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="pc_procuct_id" jdbcType="BIGINT" property="pcProcuctId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gmt_created, gmt_modified, creator, modifier, version, uc_shop_id, customer_no, 
    buyer_id, count, pc_procuct_id, remark
  </sql>
  <select id="select" parameterType="com.newhope.moneyfeed.order.api.bean.OrderCartModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moneyfeed.oc_order_cart
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="virtualCreateTime != null">
         and gmt_modified &gt;=  #{virtualCreateTime,jdbcType=TIMESTAMP} 
      </if>
      <if test="ucShopId != null">
         and uc_shop_id = #{ucShopId,jdbcType=BIGINT}
      </if>
      <if test="customerNo != null">
         and customer_no = #{customerNo,jdbcType=VARCHAR}
      </if>
      <if test="buyerId != null">
         and buyer_id = #{buyerId,jdbcType=BIGINT}
      </if>
      <if test="count != null">
         and count = #{count,jdbcType=INTEGER}
      </if>
      <if test="pcProcuctId != null">
         and pc_procuct_id = #{pcProcuctId,jdbcType=BIGINT}
      </if>
      <if test="remark != null">
         and remark = #{remark,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into moneyfeed.oc_order_cart (gmt_created, 
      gmt_modified, 
      creator, 
      modifier, 
      version, 
      uc_shop_id, 
      customer_no, 
      buyer_id, 
      count, 
      pc_procuct_id, 
      remark
      )
    values 	<foreach collection="list" item="model" index="index" separator="," close=";" >	(#{model.gmtModified,jdbcType=TIMESTAMP}, 
      #{model.gmtModified,jdbcType=TIMESTAMP}, #{model.creator,jdbcType=BIGINT}, #{model.modifier,jdbcType=BIGINT}, 
      0, #{model.ucShopId,jdbcType=BIGINT}, #{model.customerNo,jdbcType=VARCHAR}, #{model.buyerId,jdbcType=BIGINT}, 
      #{model.count,jdbcType=INTEGER}, #{model.pcProcuctId,jdbcType=BIGINT}, #{model.remark,jdbcType=VARCHAR}
      	)	</foreach>
  </insert>
  <update id="update">
    update moneyfeed.oc_order_cart
    <set>
      <if test="newModel.ucShopId != null">
        uc_shop_id = #{newModel.ucShopId,jdbcType=BIGINT},
      </if>
      <if test="newModel.customerNo != null">
        customer_no = #{newModel.customerNo,jdbcType=VARCHAR},
      </if>
      <if test="newModel.buyerId != null">
        buyer_id = #{newModel.buyerId,jdbcType=BIGINT},
      </if>
      <if test="newModel.count != null">
        count = #{newModel.count,jdbcType=INTEGER},
      </if>
      <if test="newModel.pcProcuctId != null">
        pc_procuct_id = #{newModel.pcProcuctId,jdbcType=BIGINT},
      </if>
      <if test="newModel.remark != null">
        remark = #{newModel.remark,jdbcType=VARCHAR},
      </if>
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.ucShopId != null">
         and uc_shop_id = #{oldModel.ucShopId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.customerNo != null">
         and customer_no = #{oldModel.customerNo,jdbcType=VARCHAR}
      </if>
      <if test="oldModel.buyerId != null">
         and buyer_id = #{oldModel.buyerId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.count != null">
         and count = #{oldModel.count,jdbcType=INTEGER}
      </if>
      <if test="oldModel.pcProcuctId != null">
         and pc_procuct_id = #{oldModel.pcProcuctId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.remark != null">
         and remark = #{oldModel.remark,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
  <delete id="delete" parameterType="com.newhope.moneyfeed.order.api.bean.OrderCartModel">
    delete from moneyfeed.oc_order_cart
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="ucShopId != null">
         and uc_shop_id = #{ucShopId,jdbcType=BIGINT}
      </if>
      <if test="customerNo != null">
         and customer_no = #{customerNo,jdbcType=VARCHAR}
      </if>
      <if test="buyerId != null">
         and buyer_id = #{buyerId,jdbcType=BIGINT}
      </if>
      <if test="count != null">
         and count = #{count,jdbcType=INTEGER}
      </if>
      <if test="pcProcuctId != null">
         and pc_procuct_id = #{pcProcuctId,jdbcType=BIGINT}
      </if>
      <if test="remark != null">
         and remark = #{remark,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
</mapper>