<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" packages="com.newhope.log.autoconfigure.log4j2">
	<Properties>
		<Property name="APP_NAME">moneyfeed-feedback</Property>
		<Property name="LOG_FILE">${APP_NAME}-info.log</Property>
		<Property name="LOG_ERROR_FILE">${APP_NAME}-error.log</Property>
		<Property name="LOG_PATH">/var/log/webapps/${APP_NAME}</Property>
		<Property name="KAFKA_SERVERS">${spring:KAFKA_BOOTSTRAP_SERVERS}</Property>
		<Property name="PROFILE">${spring:NEWHOPE_PROFILE_GROUP}</Property>
		<Property name="LOGNAME">${spring:ALIYUN_PROJECTNAME}</Property>
	</Properties>
	<CustomLevels>
		<CustomLevel name="ALIYUN" intLevel="10" />
	</CustomLevels>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="trace" onMatch="ACCEPT"
							 onMismatch="DENY" />
			<PatternLayout
					pattern="%d{yyyy.MM.dd 'at'HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
		<RollingRandomAccessFile name="logInfoFile"
								 fileName="${LOG_PATH}/${LOG_FILE}" filePattern="${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout
					pattern="%d{yyyy.MM.dd 'at' HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1">
				<Delete basePath="${LOG_PATH}" maxDepth="1">
					<IfFileName glob="${LOG_FILE}.*.log.gz" />
					<IfLastModified age="0s" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="logErrorFile"
								 fileName="${LOG_PATH}/${LOG_ERROR_FILE}" filePattern="${LOG_PATH}/${LOG_ERROR_FILE}.%d{yyyy-MM-dd}-%i.log.gz">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT"
							 onMismatch="DENY" />
			<PatternLayout
					pattern="%d{yyyy.MM.dd 'at' HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="200 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1">
				<Delete basePath="${LOG_PATH}" maxDepth="1">
					<IfFileName glob="${LOG_ERROR_FILE}.*.log.gz" />
					<IfLastModified age="0s" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		<!-- 输出错误日志到Kafka -->
		<Kafka name="KAFKA" topic="sample">
			<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
			<KafkaLayout name="${APP_NAME}" profile="${PROFILE}"/>
			<Property name="bootstrap.servers">${KAFKA_SERVERS}</Property>
		</Kafka>
		<Loghub name="Loghub"
				projectName="${LOGNAME}"
				logstore="${LOGNAME}"
				endpoint="http://cn-shanghai.log.aliyuncs.com"
				accessKeyId="LTAIWAOxNYtlR7GX"
				accessKey="mBQx7LtxxUg2iUNOe9LrfJvoKNuaP7"
				packageTimeoutInMS="3000"
				logsCountPerPackage="4096"
				logsBytesPerPackage="3145728"
				memPoolSizeInByte="104857600"
				retryTimes="3"
				maxIOThreadSizeInPool="8"
				topic=""
				source=""
				timeFormat="yyyy-MM-dd'T'HH:mmZ"
				timeZone="UTC"
				ignoreExceptions="true">
			<PatternLayout pattern="%d %-5level [%thread] %logger{0}: %msg"/>
			<Filters>
				<!--  trace<debug<info<warn<error<fatal -->
				<ThresholdFilter level="ALIYUN" onMatch="ACCEPT" onMismatch="DENY"/>
				<!--只输出指定级别的日志-->
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="debug" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="trace" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
		</Loghub>
	</appenders>
	<loggers>
		<root level="INFO">
			<appender-ref ref="logInfoFile" />
			<appender-ref ref="Console" />
			<appender-ref ref="logErrorFile" />
			<appender-ref ref="KAFKA" />
			<appender-ref ref="Loghub"/>
		</root>
		<logger name="com.alibaba.druid.pool" level="INFO" >
			<appender-ref ref="logInfoFile" />
			<appender-ref ref="Console" />
			<appender-ref ref="logErrorFile" />
		</logger>
	</loggers>
</configuration>
