<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.moneyfeed.goods.dal.dao.AttributeParmsDao">
  <resultMap id="BaseResultMap" type="com.newhope.moneyfeed.goods.api.bean.AttributeParmsModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="attribute_id" jdbcType="BIGINT" property="attributeId" />
    <result column="parm_value" jdbcType="VARCHAR" property="parmValue" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, attribute_id, parm_value, gmt_created, gmt_modified, creator, modifier, version
  </sql>
  <select id="select" parameterType="com.newhope.moneyfeed.goods.api.bean.AttributeParmsModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moneyfeed.pc_attribute_parms
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="attributeId != null">
         and attribute_id = #{attributeId,jdbcType=BIGINT}
      </if>
      <if test="parmValue != null">
         and parm_value = #{parmValue,jdbcType=VARCHAR}
      </if>
      <if test="virtualCreateTime != null">
         and gmt_modified &gt;=  #{virtualCreateTime,jdbcType=TIMESTAMP} 
      </if>
    </where>
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into moneyfeed.pc_attribute_parms (attribute_id, 
      parm_value, 
      gmt_created, 
      gmt_modified, 
      creator, 
      modifier, 
      version
      )
    values 	<foreach collection="list" item="model" index="index" separator="," close=";" >	(#{model.attributeId,jdbcType=BIGINT}, 
      #{model.parmValue,jdbcType=VARCHAR}, #{model.gmtModified,jdbcType=TIMESTAMP}, #{model.gmtModified,jdbcType=TIMESTAMP}, 
      #{model.creator,jdbcType=BIGINT}, #{model.modifier,jdbcType=BIGINT}, 0	)	</foreach>
  </insert>
  <update id="update">
    update moneyfeed.pc_attribute_parms
    <set>
      <if test="newModel.attributeId != null">
        attribute_id = #{newModel.attributeId,jdbcType=BIGINT},
      </if>
      <if test="newModel.parmValue != null">
        parm_value = #{newModel.parmValue,jdbcType=VARCHAR},
      </if>
      gmt_modified = #{newModel.gmtModified,jdbcType=TIMESTAMP},modifier = 0,version = version + 1
    </set>
    <where>
      <if test="oldModel.id != null">
         and id = #{oldModel.id,jdbcType=BIGINT}
      </if>
      <if test="oldModel.attributeId != null">
         and attribute_id = #{oldModel.attributeId,jdbcType=BIGINT}
      </if>
      <if test="oldModel.parmValue != null">
         and parm_value = #{oldModel.parmValue,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
  <delete id="delete" parameterType="com.newhope.moneyfeed.goods.api.bean.AttributeParmsModel">
    delete from moneyfeed.pc_attribute_parms
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="attributeId != null">
         and attribute_id = #{attributeId,jdbcType=BIGINT}
      </if>
      <if test="parmValue != null">
         and parm_value = #{parmValue,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
</mapper>